.body-heading{
    display: flex;
    justify-content: center;
    padding: 0 0 3rem 0 ;
}

.body-h1{
    color: yellow;
    -webkit-text-stroke: .1rem rgb(0, 0, 0);
    font-size: 3rem;
    letter-spacing: .2rem;
    font-family: 'Sigmar', cursive;
}

.image{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 3rem;
}

.img-1{
    display: flex;
    justify-content: center;
}

.image-both{
    width: 100%;
}

.playername{
    display: flex;
    justify-content: center;
    font-family: 'Sigmar', cursive;
    letter-spacing: .1rem;
}

.btn{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.button-btn{
    color: red;
    background-color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    font-family: 'Sigmar', cursive;
    border: .2rem solid;
    border-color: red;
    border-radius: 10rem;
}

.button-btn:hover{
    color: #fff;
    background-color: red;
    border:  .2rem solid; 
    border-color: #fff;
}

@media screen and (max-width:800px) {
    .body-h1{
        font-size: 2rem;
    }
    .image-both{
        width: 50%;
    }
}